@import "./variables.css";
@import "./modules/buttons.module.css";
@import "./modules/cards.module.css";
@import "./modules/forms.module.css";
@import "./modules/layout.module.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-size: 30px; /* Увеличенный базовый размер для десктопа в rem */
}

/* Адаптивность для планшетов */
@media (max-width: 800px) {
    :root {
        font-size: 20px;
    }
}

/* Адаптивность для телефонов - уменьшение базового размера шрифта */
@media (max-width: 400px) {
    :root {
        font-size: 18px;
    }
}

/* Дополнительная адаптивность для очень маленьких экранов */
@media (max-width: 28rem) {
    :root {
        font-size: 1rem;
    }
}

button,
input,
select,
textarea {
    font-size: 1rem;
}

textarea,
input {
    color: black;
}

a {
    color: cornflowerblue;
}

html,
body,
#app {
    height: 100%;
}
